//colors
$menuBackground: #2e353d;
$menuText: #e1ffff;
$logoBackground: #23282e;
$subMenuActive: #d19b3d;
$menuHover: #4f5b69;
$background: #f0f0f0;
$highlightColor: yellow;
$activeBackgroundColor: lightblue;
$outlineColor: #dfdfdf;

body {
	overflow: auto;
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: $background;
	font-family: Source Sans Pro, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Arial, Helvetica, sans-serif;
	word-wrap: break-word;
}

.card {
	font-size: 12px;
	height: 100%;

	.card-header {
		font-size: 14px;
		min-height: 28px;
		> i {
			font-size: 31px;
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0;
			color: gray;
			margin-top: -2px;
			&:hover {
				cursor: pointer;
				color: #b70000;
			}
		}
	}
	.card-header {
	 padding: 3px 29px 0 0;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 white-space: nowrap;

	}
	.card-body {
		margin: 0;
		padding: 0;
		position: relative;
		div {
			outline: 1px solid $outlineColor;
		}
	}
}

.TreePane div {
	outline: none !important;
}

.shell {
	outline: none !important;
	overflow: auto;
}

.card-body :not(.shell) {
	.btn {
		width: 100%;
		height: 100%;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		outline-color: #0275d8;
		line-height: 0;
		border-radius: 0;
	}
}

/* CSS style sheet to support use of ristrings (RiListString) */

/*Colors used by RiStrings (i.e. RiListStrings):*/
.rsColor1  { color:#000000 !important; } /*Black*/
.rsColor2  { color:#404040 !important; } /*DarkGray*/
.rsColor3  { color:#808080 !important; } /*LightGray*/
.rsColor4  { color:#ffffff !important; } /*White*/
.rsColor5  { color:#dc0000 !important; } /*LightRed*/
.rsColor6  { color:#00dc00 !important; } /*LightGreen*/
.rsColor7  { color:#0000dc !important; } /*LightBlue*/
.rsColor8  { color:#dcdc00 !important; } /*LightYellow*/
.rsColor9  { color:#dc00dc !important; } /*LightMagenta*/
.rsColor10 { color:#00dcdc !important; } /*LightCyan*/
.rsColor11 { color:#800000 !important; } /*DarkRed*/
.rsColor12 { color:#008000 !important; } /*DarkGreen*/
.rsColor13 { color:#000080 !important; } /*DarkBlue*/
.rsColor14 { color:#808000 !important; } /*DarkYellow*/
.rsColor15 { color:#800080 !important; } /*DarkMagenta*/

/*Font styles used by RiStrings (i.e. RiListStrings):*/
.rsStyle1  { font-weight:bold !important; } /*bold*/
.rsStyle2  { font-style:italic !important; } /*italic*/
.rsStyle3  { font-weight:bold; font-style:italic !important; } /*bold italic*/

li {
	font-weight: bold;
	line-height: 1.35;
}
.dialog {
	li {
		line-height: 1.5;
	}
}

ul {
	padding: 0;
	white-space: nowrap;
	margin: 0;
}

.ListPane, .TextPane, .GroupPane {
	overflow: auto;
}

.Button {
	display: flex;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	input {
		margin: 0 3px;
	}
	 div, label {
		display: flex;
		padding: 0;
		font-size: .8rem;
		white-space: nowrap;
		//max-width: 0; //because display is table-cell, this is needed for text-overflow to work. Span needs to be inside to work (display: inline)
		text-overflow: ellipsis;
		overflow: hidden;
		margin: 0;
	}
}

.react-contextmenu-wrapper, .contextMenu {
	height: 100%;
	width: 100%;
}


/*START REACT-CONTEXTMENU ALTERED CSS*/
.react-contextmenu {
		z-index: 2;
    //min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: .8rem;
    color: #373a3c;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none !important;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
}

.react-contextmenu-item {
	outline: none !important;
    padding: 3px 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
	cursor: pointer;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    color: #878a8c;
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item--divider {
    margin-bottom: 3px;
    padding: 2px 0;
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "\25B6";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}
/*END REACT-CONTEXTMENU ALTERED CSS*/

.highlight {background-color: $highlightColor};

.active {background-color: $activeBackgroundColor};

.card-body li {
	cursor: pointer;
}

.card-header, .card-body li {
	user-select: none;
}

.cardLabel {
	text-overflow: ellipsis;
	 overflow: hidden;
	 white-space: nowrap;
	  width: 92%;
}

.GroupPane {
	background-color: $outlineColor;
}

body {
	background: #f0f0f0 url('/app/images/RILogoWeb.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
//margin: 0 10px;

}

#mqttInfo {
	background-color: $menuBackground;
	padding: 3px 10px;
	color: $menuText;
	height: 29px;
	margin-bottom: 10px;

	.connectionIcon {
		border-radius: 50%;
		width: 12px;
		height: 12px;
		margin-left: 6px;
		margin-top: 6px;
		&.disconnected {
			background-color: red;
		}
		&.connected {
			background-color: green;
		}
		&.reconnecting {
			background-color: yellow;
		}
	}

}
.reactModal {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

$cardHeaderHeight: 28px;
$dialogCardHeight: 187px; //if using dialogBottom, add 30px (currently not)
//$dialogBottomHeight: 30px;
.dialog {
	width: 160px;
	height: $dialogCardHeight;
	ul {
		height: ($dialogCardHeight - $cardHeaderHeight);
		overflow: auto;
	}
	// .dialogBottom { //for select and cancel buttons
	// 	height: $dialogBottomHeight;
	// 	width: 100%;
	// 	div {
	// 		width: 50%;
	// 	}
	// 	.btn {
	// 		width: 50%;
	// 	}
	// }
}

span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.react-contextmenu-wrapper {
	overflow: auto;
}

input[type='text'] {
	border: 0;
	border-bottom: 1px solid $outlineColor;
	width: 100%;
	padding: 5px;
}
