@import "theme";

.ri-button {
	@include flexCenter;

	padding: 0;
	font-size: .8rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 0;
  border: none;
  border-radius: 0;

  input {
    margin: 0 3px;
  }
}

label.ri-button {
  background: $outlineColor;
}
